@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #101419;
}

.no-scroll-bar ::-webkit-scrollbar {
  display: none;
}

.no-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* blue: #3DB3BB */

/* green: #79BF8B */

/* green yellow: #C6DE8B */

/* yellow: #FEF48F */

/* #0C2325 */

/* black: #101419 */